.about-me {
    color: black;
    width: 100%;

    .stick-notes {
        display: flex;
        background-color: rgba(106, 235, 235, 1);

        @media screen and (orientation:portrait) {
            display: block;
        }
    }

    .stick-note {
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5), -1px -1px 2px rgba(255, 255, 255, 0.5);
        font-family: 'Patrick Hand', cursive;
        font-size: 0.8em;
        width: 40%;
        height: auto;
        margin: 40px;
        padding: 20px;
        text-underline-offset: 0.4em;
        line-height: 2em;
        position: relative;

        @media screen and (orientation: portrait) {
            font-size: 0.6em;
            width: 80%;
            margin: 40px auto;
        }
    }

    .skills {
        @media screen and (orientation: landscape) {
            width: 30vw;
            margin-left: 10vw;
        }

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 1.2em;
        position: relative;
        bottom: 2em;
        text-align: center;
        
        .skills-title {
            grid-column-start: 1;
            grid-column-end: 4;

            p {
                font-size: 0.8em;
                line-height: 0;
            }

            input{
                height: 3em;
                border-radius: 20px;
                text-align: center;
                font-family: 'Patrick Hand', cursive;
                font-size: 1em;
                border-right: 3px solid black;
                border-bottom: 3px solid black;
                &:disabled {
                    background-color: white;
                    opacity: 1 !important;
                  }
            }
        }
        
        div {
            img {
                background-color: white;
                height: 3em;
                width: 3em;
                border-radius: 10px;
                border-right: 3px solid black;
                border-bottom: 3px solid black;

                &:hover {
                    border-right: none;
                    border-bottom: none;
                    border-left: 3px solid black;
                    border-top: 3px solid black;
                }

                &:active {
                    border-right: none;
                    border-bottom: none;
                    border-left: 3px solid black;
                    border-top: 3px solid black;
                }

            }
        }
    }
}