@import '../../index.scss';

.about-me {
    color: black;
    width: 100%;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5), -1px -1px 2px rgba(255, 255, 255, 0.5);
    padding: 5vw;

    .about-me-intro {
        display: flex;
        margin-bottom: 60px;
        h1 {
            text-align: center;
            writing-mode: vertical-rl;
            transform: rotate(180deg);

            span {
                color: $contract
            }
        }

        div {
            background-color: black;
            padding: 0;
            border-radius: 10px;
            div {

                height: 100%;
                margin: 0;
                padding: 20px;
                background-color: darken($mainColor, 6%);
                width: 80vw;
                transition: transform;

                &:hover {
                    transform: translate(3%, 5%);
                }

                span {
                    color: $contract
                }

            }
        }

    }

    .skill-section {
        text-align: center;

        .skills-title {
            grid-column-start: 1;
            grid-column-end: 4;

            p {
                font-size: 0.8em;
                line-height: 0;
            }

            input {
                height: 3em;
                border-radius: 20px;
                text-align: center;
                font-family: 'Patrick Hand', cursive;
                font-size: 1em;
                border-right: 3px solid black;
                border-bottom: 3px solid black;

                &:disabled {
                    background-color: white;
                    opacity: 1 !important;
                }
            }
        }

        .skills {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-top: 30px;

            img {
                background-color: white;
                height: 3em;
                width: 3em;
                border-radius: 10px;
                border-right: 3px solid black;
                border-bottom: 3px solid black;

                &:hover {
                    border-right: none;
                    border-bottom: none;
                    border-left: 3px solid black;
                    border-top: 3px solid black;
                }

                &:active {
                    border-right: none;
                    border-bottom: none;
                    border-left: 3px solid black;
                    border-top: 3px solid black;
                }

            }
        }
    }
}