@import '../../index';
.landing-page {
    height: 100vh;
    position: relative;

    
    .landing-page-title {
        opacity: 0;
        position: absolute;
        top: 30vh;
        @media screen and (orientation :portrait) {
            width: 80vw;
        }
        text-shadow: 2px 2px 4px rgba(0,0,0,0.5), -2px -2px 4px rgba(255,255,255,0.5);
        transform: scaleX(110%);
        h1{
            font-size: 2.5em;
            color: rgb(0, 0, 0);
            text-align:unset;
            display: inline;
        }
        span{
            font-size: inherit;
            color:$contract;
        }

        p{
            font-size: 0.8em;
            color: rgb(0, 0, 0);
            margin: 0px;
        }
    }
}