.projects-section {
    background-color: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgb(255, 255, 255)10%, rgb(5, 255, 255) 30%, rgb(199, 255, 248) 60%);
    width: 100vw;
    padding: 5vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60vh;
    gap: 10vh;
    @media all and (orientation:portrait) {
        grid-template-columns: 1fr;

    }

    

    .projects-display {
        padding: 0;
        position: relative;
        
        @media (orientation:portrait) {
            // border-radius: 0.2em;
            width: 90vw;
            margin: 20px auto;
        }

        .front,
        .back {
            position: relative;
            overflow: hidden;
            backface-visibility: hidden;
            transition: transform 0.5s ease-in-out;
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            box-shadow: 0 0 10px 2px #000000;
            border-radius: 30px;
        }

        .front {
            transform: rotateY(0deg);
            div{
                flex-grow: 1;
                background: linear-gradient(to bottom, white 60%, rgba(255, 255, 255, 0.4));
                width: 100%;
                @media screen and (orientation:portrait) {
                    padding-top: 10%;
                }
                // padding-top: 10%;
                h2{
                    width: 100%;
                    text-align: center;
                    font-size: 1em;
                }
                p{
                    font-size: 0.6em;
                    width: 100%;
                    text-align: center;
                }
            }

            img {
                flex-grow: 0;
                bottom: 0;
                max-width: 100%;
                height: auto;
            }

        }

        .back {
            width: 100%;
            height: 100%;
            position: relative;
            bottom: 100%;
            background-color: black;
            color: aliceblue;
            transform: rotateY(-180deg);
            justify-content: center;
            align-items: center;

        }

        &:hover .front {
            transform: rotateY(180deg);
        }

        &:hover .back {
            transform: rotateY(0deg);
        }
    }
}