$mainColor: #f1f1ef;
$contract:#ce9424;
$adjacent: #f6f6f8;
body {
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
  font-size: 30px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background-color: $mainColor;
}


*{
  box-sizing: border-box;

  @media screen and (orientation: portrait){
    font-size: 20px;
  }
  
}
