@import '../../index.scss';
.button{
    transition: background-color 0.5s linear;
    height: 2em;
    line-height: 2em;
    font-size: 0.9em;
    color: white;
    background-color: $contract;
    border-radius: 6px;
    padding: 0 20px;
    cursor: pointer;
    border: solid $contract;
    svg{
        display: inline-block;
        height: 70%;
        transform: translateY(20%);
        margin-left: 10px;
        fill:white;
    }
    &:hover{
        background-color: transparent;
        color:$contract;
        svg{
            fill:$contract;
        }
    }

    & .contact-me{
        background-color: black ;
    }
}

