    .link-list {
        height: 100%;
        width: 8em;
        z-index: 5;
        list-style: none;
        display: flex;
        justify-content: space-between;
        margin: 0;
        align-items: center;
        
        li {
            // position: relative;
            margin: 0;
            border-radius: 50%;
            height: 2em;
            width: 2em;
            cursor: pointer;

            svg {
                width: 1em;
                transform: translate(50%, 50%);
            }
        }
    }

    .resume {
        display: none;
        z-index: unset;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.6);
        position: fixed;
        top: auto;
        overflow: scroll;
        padding: 15vh;
        overflow-x: hidden;

        img {
            width: 90vw;
            position: relative;
            left: 50%;
            transform: translate(-50%, 0);
        }
    }

    .link-list li:hover {
        @media (orientation :landscape) {
            background-color: rgba(0, 0, 0, 0.2);
        }
    }