@import '../../index';

.nav-bar {
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    z-index: 4;
    height: 15vh;
    transition: height 0.5s ease-in-out;
    background-color: $adjacent;

    .navigation {
        position: relative;
        height: 100%;
        width: 100%;
        color: black;
        z-index: 2;
        display: flex;
    }

}


.nav-background {
    background: rgba(lighten($adjacent, 10%), 0.8);
    backdrop-filter: blur(4px);
    height: 10vh;
}