$mainColor: rgb(223, 250, 255);
$contract:rgb(255, 105, 25);
$adjacent: rgb(141, 253, 219);
body {
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
  font-size: 30px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background-color: $mainColor;
}


*{
  box-sizing: border-box;

  @media screen and (orientation: portrait){
    font-size: 20px;
  }
  
}
