body {
  margin: 0;
  color: #cd0a0a;
  font-family: 'Fira Sans', sans-serif;
  font-size: 30px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}


*{
  box-sizing: border-box;

  @media screen and (orientation: portrait){
    font-size: 20px;
  }
  
}
